/* .form {
    display: flex;
    border-color: #4c4d4f;
    border-style: solid;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 4/10;
    grid-row: 2/5;
}

.form > input {
    display: inline;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 20vh);  
} */
html {
    min-height: 100%;/* fill the screen height to allow vertical alignement */
    display: grid; /* body is the only grid cell */
  }
body {
    margin: auto;
 }

/* form { 
    margin: auto auto; 
    max-width: 400px;
    height: 80vh;
} */