
/* centering the content */
html {
    min-height: 100%;
    display: grid; 
}
body {
    margin: auto;
}

/* FORM */
.box {
    width: 40vw;
    margin: 4%;    
    border-color: #4c4d4f;
    border-style: solid;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4%;
    font-family: Arial, Helvetica, sans-serif;
}
span {
    display: block;
    font-size: 0.7em;
    text-indent: 24px;
}
.radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
@media only screen and (max-width: 500px) {
    .box {
        width: 100vw;
        margin: 0;
    }

}

/* input[type=text] {
    margin-left: auto;
}  */
